* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('bg8k.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: fadeIn 1.5s ease-in-out;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;

  animation: scaleUp 1s ease-in-out;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #ED8454;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  transition: transform 0.3s ease, background 0.3s ease, backdrop-filter 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}


#reset-btn, #new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background: rgba(25, 25, 19, 0.7);
  color: #fff;
  border-radius: 1rem;
  border: none;
  transition: background 0.3s ease;
}

#reset-btn:hover, #new-btn:hover {
  background: rgba(25, 25, 19, 0.9);
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 165, 0, 0.7); /* Use rgba for transparency */
  border-radius: 0.5rem; /* Add some border radius for a softer look */
  padding: 0.5rem 1rem; /* Add padding for better text readability */
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  animation: zoomIn 1s ease-in-out; /* Add a smooth zoom-in animation */
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.hide {
  display: none;
}

h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  animation: fadeIn 1.5s ease-in-out;
  transition: transform 0.3s ease, background 0.3s ease, backdrop-filter 0.3s ease;
}
